.footer {
    .address {
        padding: 0 15px;
        margin-bottom: 160px;
    
        &__content {
            display: flex;
            align-items:center;
            justify-content: space-between;
            background: #1F1D21;
    
            @media (max-width: 765.98px) {
                display: block;
            }
        }
    
        &__info {
            padding: 80px 35px 80px 65px;
    
            @media (max-width: 998.98px) {
                padding-left: 35px;
            }
    
            @media (max-width: 768.98px) {
                padding-top: 35px;
            }
    
            &_time {
                margin-bottom: 32px;
            }
    
            &_location {
                margin-bottom: 32px;
            }
    
            &_contact {
                display: flex;
                flex-direction: column;
    
                & a {
                    color: $white;
                    text-decoration: none;
                    cursor: pointer;
    
                    &:hover {
                        color: #FFB577;
                        transition: 0.3s;
                    }
                }
            }
        }
    
        &__map{
            & iframe {
                @media (max-width: 1199.98px) {
                    width: 650px;
                    margin: auto;   
                }
    
                @media (max-width: 991.98px) {
                    width: 400px;
                    height: 360px;
                }
                @media (max-width: 768.98px) {
                    width: 100%;
                    height: 300px;
                }
    
            }
        }
    }

    &__logo {
        text-align: center;
        margin-bottom: 45px;
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 32px;

        ul {
            display: flex;
            padding: 0;
            margin: 0;
            list-style: none;

            @media (max-width: 575.98px) {
                align-items: center;
                flex-direction: column;
            }
    
        }
    
        li {
            &:not(:last-of-type) {
                margin-right: 40px;
            }
    
            @media (max-width: 991.98px) {
                &:not(:last-of-type) {
                    margin-right: 30px;
                }
            }

            @media (max-width: 575.98px) {
                &:not(:last-of-type) {
                    margin-right: 0;
                    margin-bottom: 10px;
                }
            }
        }
    
        &_link {
            color: $white;
            font-style: 20px;
            line-height: 27px;
    
            &:hover {
                text-decoration: none;
                color: #FFB577;
                transition: all 0.3s ease-in-out;
            }
        }
    }
    
    &__border {
        border-top: 1px solid;
        box-shadow: 1px 0 0 rgba(255, 255, 255, 0.349);
    }

    &__bottom {
        padding: 23px 0;
        display: flex;
        
        @media (max-width: 765.98px) {
            flex-direction: column-reverse;
            align-items: center;

            :not(:last-child) {
                padding-top: 15px;
            }
        }

        &_rights a{
            color: $white;
            text-decoration: none;

            &:hover {
                text-decoration: none;
                color: #FFB577;
                transition: 0.3s;
            }
        }

        &_icons {
            margin: 0 auto;
            padding-right: 171px;

            @media (max-width: 991.98px) {
                padding-right: 60px;
            }

            @media (max-width: 765.98px) {
                margin: 0;
                padding-right: 0;
            }

            :not(:last-of-type) {
                margin-right: 24px;
            }

             & a img:hover {
                transition: 0.3s ease-in-out;
                transform: scale(1.6);
            }
        }

        &_contact {
            color: $white;
            text-decoration: none;

            &:hover {
                text-decoration: none;
                color: #FFB577;
                transition: 0.3s;
            }

            span {
                color: #FFB577;
            }
        }
    }
}